@charset "utf-8";
a{
    color:black;
}

body{
    background: rgba(72, 72, 72, 0.2);
    border-radius: 25px;
    padding: 1%;

}

#busqueda
{
   margin-bottom: 2%;
  padding: 1%;
}

footer{

    border: solid 1px black;
    border-radius: 25px;
    padding: 0.5%;
    background: rgba(72, 72, 72, 0.7);
    font-weight: bold;
}

footer p{
    color:white; 

}

h1{
    color: black;
}

h3{
    color: rgba(50, 50, 50, 1);
    font-weight: bold;
}


#cabecera
{

    background:rgba(40, 53, 147, 1);
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.75);
}

#cabecera nav, li
{
    list-style-type: none; 
}

#cabecera img
{
    margin-top:2%;
    margin-left: 1%;
}

#cabecera nav a
{
     color: rgba(255, 255, 255, 1);    
     text-decoration:none; 
     list-style-type: none; 
      
     position: fixed;
     right: 2%;
     top: 3%;
     padding: 1%;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}

#cabecera nav a:hover
{
     background: rgba(57, 73, 171, 1);
}

html
{
	font-family: 'Roboto', sans-serif;
	background-image: url("../images/background.png");
	background-repeat: repeat;
	
}

input
{
    width: auto;
}

label {
	color: rgba(50, 50, 50, 1);
    font-weight: bold;
}

li {
    color: rgba(50, 50, 50, 1);
    font-weight: bold;
    }

#login
{
	background: rgba(72, 72, 72, 0.6);
	padding: 1%;
	border-radius: 25px;
    margin: 0 auto;
    width: 20%;
}

p{
    font-size: 14px;
    color: rgba(50, 50, 50, 1);
}


