@charset "utf-8";

a{
    color:black;
}

body{
    background: rgba(72, 72, 72, 0.2);
    border-radius: 25px;
    padding: 1%;
}

h1{
    color: black;
}

h3{
    color:blue;
    font-weight: bold;
}

header
{

    border: solid 0px black;
    border-radius: 25px;
    padding: 0.5%;
    background: rgba(72, 72, 72, 0.6);
}

header a, h1
{
	 color: white;    
}

html
{
	font-family: Arial, Helvetica, Verdana;
	background-image: url("../images/background.png");
	background-repeat: repeat;
	
}

input{
    margin-left: 50px;
}

label {
	color: green ;
    font-weight: bold;
    margin-left: 50px;
}

li {
    color: rgb(72,72,72)  ;
    font-weight: bold;
    margin-left: 40px;
    }

#login
{
	background: rgba(72, 72, 72, 0.6);
	margin-top:2%;
	margin-bottom:2%;
	padding: 1%;
	border-radius: 25px;
}

p{
    margin-left: 40px;
    font-size: 14px;
}

footer{

	border: solid 0px black;
    color:white;    
    border-radius: 25px;
    padding: 0.5%;
   background: rgba(72, 72, 72, 0.6);
}
