@charset "utf-8";




#cab_principal, footer {
  display: none !important;
}


form {
    width: 280px;
    margin: 10% auto;
    background: #fafafa;
    padding: 2% 3%;
    border: 3px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

form h3
{
    text-align: center;

}

body { 
    color: #000; 
    font: 100%/150% Georgia, "Times New Roman", Times, serif; 
}
